.descuento{
  color: green;
  font-weight: bold;
  background-color: #e0ffe0;
  padding: 10px;
  border-radius: 5px;
}
.descuenton{
  color: red;
  font-weight: bold;
  background-color: #e0ffe0;
  padding: 10px;
  border-radius: 5px;
}
